.dashboard-main {
  min-height: 100vh;
  background-color: #f0f4f8;
  display: flow-root;
}

.dashboard-contenido {
  margin-left: 230px;
  min-width: 0;
  min-height: 100vh;
  margin-top: 18px;
  padding: 0 40px;
}

/* BARRA SUPERIOR */

.dashboard-barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #d9e0e8;
  gap: 40px;
  margin-top: 0;
}

.dashboard-barra-superior p {
  margin: 0;
  padding: 5px 0;
  font-size: 15px;
}

.dashboard-orbix {
  color: #757e87;
}

.dashboard-admin {
  color: #087c9c;
  font-weight: 800;
}

.dashboard-titulo {
  font-weight: bold;
}

/* ACCIONES SUPERIORES */

.dashboard-acciones-superiores {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-buscar {
  position: relative;
}

.dashboard-buscar input {
  width: 285px;
  height: 35px;
  padding: 10px 15px 10px 40px;
  box-sizing: border-box;
  border: 1px solid #d9e0e8;
  border-radius: 10px;
  outline: none;
}

.dashboard-buscar input:focus {
  border-color: #087c9c;
}

.dashboard-buscar svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

/* NOTIFICACIONES */

.dashboard-notifi {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* USUARIO */

.dashboard-usuario {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #087c9c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* ENCABEZADO */

.dashboard-encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.dashboard-encabezado h2 {
  margin: 0;
  font-size: 20px;
}

.dashboard-fecha {
  color: #757e87;
  font-size: 13px;
}

/* BOTÓN EXPORTAR */

.dashboard-button-exportar {
  width: 150px;
  height: 36px;
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: white;
  background-color: #087c9c;
  font-size: 13px;
}

.dashboard-button-exportar:hover {
  filter: brightness(1.30);
}
/* GRÁFICAS */

.graficas-dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 18px;
  padding: 18px 0;
  align-items: start;
}

.ventas-dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 18px;
  align-items: start;
}